/* ****** HELP ****** */
.piros {
  border: 1px solid red;
}
.sarga {
  border: 1px solid yellow;
}
.fekete {
  border: 1px solid black;
}
.zold {
  border: 1px solid green;
}
.feher {
  border: 1px solid white;
}
/* ****** HELP END ****** */

body {
    background: #283d3b;
    color: bisque;
}

.hamburger-button {
    display: inline-block;
    padding: 10px 7px;
    box-shadow: 0 0 2px 2px rgba(109, 133, 131, 0.31);
}
.toggle-line {
  display: block;
  background: bisque;
  width: 30px;
  height: 3px;
  border-radius: 5px;
}
.toggle-line:not(:first-of-type) {
    margin-top: 5px;
}

nav {
    position: absolute;
    top: 0;
    height: 100%;
}
